<form [formGroup]="formulario" (ngSubmit)="addNew()">
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>

                        <a class="text-white" [routerLink]="['']"> Voltar</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <input class="form-control" formControlName="name" type="text" placeholder="Item"></td>
                </tr>
                <tr>
                    <td>
                        <span class="float-right">
                            <button type="submit" [disabled]="isSaving" class="btn btn-primary btn-sm">Cadastrar</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
